<% content_for :banner do %>
  <% banner_url = cl_image_path("banners/banner_home_cfggtu") %>
  <div class="banner" style="height: 300px; background-size: cover; background-position: center; background-image: url('<%= banner_url %>');">
    <div class="container banner-content">
      <h1>Save any kind of movies</h1>
    </div>
  </div>
<% end %>

<div class="lists-header">
  <h1>My Lists</h1>
  <%= link_to "Create a movie list", new_list_path, class: "btn-green" %>
</div>

<div class="lists-grid">
  <% @lists.each do |list| %>
    <div class="list-item">
      <%= link_to list_path(list), class: "list-card" do %>
        <div class="list-card-image"style="background-image: url('<%=list.photo.attached? ? cl_image_path(list.photo.key, crop: :fill) :cl_image_path("petit_test_d6maki")%>');">
          <div class="list-card-overlay">
            <h2><%= list.name %></h2>
          </div>
        </div>
      <% end %>

      <%= link_to "Delete",list_path(list),data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },class: "list-delete" %>
    </div>
  <% end %>
</div>
