<% content_for :banner do %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path("banners/banner_new_yjvv9s") %>');">
    <div class="container banner-content">
      <h1>Make a list </h1>
    </div>
  </div>
<% end %>


<div class="form-card">
  <h2>Create a movie list</h2>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name, label: "List name" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create list", class: "btn-green" %>
  <% end %>
</div>
