<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Watch List" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4RhisdP4VbQv1aQITN76nKD1Zq9E+V40YQUh+V4Z8r4nV9VqVdqZ3Tjx3C2QXT6KGrw=="crossorigin="anonymous"referrerpolicy="no-referrer" />
  </head>

  <body>
          <nav class="navbar-custom">
            <%= link_to lists_path, class: "navbar-logo" do %>
              <i class="fa-solid fa-film"></i>
            <% end %>

            <div class="navbar-links">
              <%= link_to "Add list", new_list_path, class: "btn-navbar" %>
              <%= link_to "My lists", lists_path, class: "btn-navbar-outline" %>
            </div>
        </nav>
       <%= yield :banner %>
    <div class="container">
        <%= yield %>
    </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>

  </body>
</html>
